<h1>Surgery</h1>
<p>Surgery type:</p><%= @surgery.title %><br>
<p>Day of week:</p><%= @surgery.day_of_week %><br>
<p>Operating room:</p><%= @surgery.operating_room %><br>
<br>
<h1>Doctors</h1>
<% @surgery.all_surgical_doctors.each do |doctor| %>
  <%= doctor.name %>
  <%= doctor.years_practiced %>
<% end %>
<section id="least">
<p>Least experienced doctor</p>
<%= @surgery.least_experienced_doctor.first.name %><br>
<%= @surgery.least_experienced_doctor.first.years_practiced %><br>
</section>
<section id="most">
<p>Most experienced doctor</p>
<%= @surgery.most_experienced_doctor.first.name %><br>
<%= @surgery.most_experienced_doctor.first.years_practiced %><br>
</section>
